{% extends "layout.html" %}
{% block content %}

    <div class="container">

     
        <br>
        <br>
     
        <h3> Jugadores de CS:GO en {{current_user.pais}}</h3>
        <h7>(Nombre de usuario ; Rango ; Nombre in-Game ; Email)</h7>
        <br>
        <br>
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>

{% endblock content %}